.heart {
    background-color: red;
    height: 25px;
    width: 25px;
    display: block;
    clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
}
.glow {
    box-shadow: 0px 0px 50px 7px rgba(203, 23, 23, 0.5);
}
